.counter-value-container{
    background-color: aliceblue;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.counter-heading{
    font-family: sans-serif;
    font-size:50px;
    color:rgb(51, 6, 13);
    text-align: center;
}
.counter-value{
    font-weight: bold;
    font-size:50px;
    color:black;
    text-align:center;
}
.btn{
    border:1px solid rgb(39, 12, 31);
    border-radius: 12px;
    font-size:32px;
    margin-right: 14px;
    background-color: transparent;
    padding:10px;
    color:blueviolet;
}